.search {
    display: flex;
    flex-direction: column;
}

.input__container {
    display: flex;
    align-items: center;
}

/* .input__search {
    flex: 1;
    min-width: 0;
    height: 30px;
    padding: 0;
    margin: 0;
} */

.search__button {
    width: 100px;
    margin-left: 15px;
    height: 34px;
    font-size: 10px;
    background-color: red;
    color: #fff;
}

@media screen and (max-width: 759px) {
    .search__button {
        width: 50px;
        font-size: 7px;
    }
}

.input__search {
    width: 881px;
    height: 30px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1059px) {
    .input__search {
        width: 631px;
    }
}

@media screen and (max-width: 759px) {
    .input__search {
        width: 231px;
    }
}

.element__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 5px 0;
    gap: 3px;
}

.element {
    list-style: none;
    padding: 3px 0 3px 3px;
    margin: 0;
    cursor: pointer;
    background-color: #212020;
    width: 997px;
    color: #fff;
    text-align: left;
    border-radius: 3px;
}

@media screen and (max-width: 1059px) {
    .element {
        width: 747px;
    }
}

@media screen and (max-width: 759px) {
    .element {
        width: 297px;
    }
}

@media screen and (max-width: 759px) {
    .element {
        font-size: 12px;
    }
}