.input__search {
    width: 996px;
    height: 30px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1059px) {
    .input__search {
        width: 746px;
    }
}

@media screen and (max-width: 759px) {
    .input__search {
        width: 306px;
    }
}

.element__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 5px 0;
    gap: 3px;
}

.element {
    list-style: none;
    padding: 3px 0 3px 3px;
    margin: 0;
    cursor: pointer;
    background-color: #212020;
    width: 997px;
    color: #fff;
    text-align: left;
    border-radius: 3px;
}

@media screen and (max-width: 1059px) {
    .element {
        width: 747px;
    }
}

@media screen and (max-width: 759px) {
    .element {
        width: 307px;
    }
}

@media screen and (max-width: 759px) {
    .element {
        font-size: 12px;
    }
}